<div class="container">
    <h2>Top Localities</h2>

    <div class="cards">
        <div class="card" (click)="search('Mumbai')">
            <img src="../../../assets/images/mumbai.webp" alt="">
            <p>Properties in Mumbai</p>
        </div>
        
        <div class="card" (click)="search('South Mumbai')">
            <img src="../../../assets/images/southMumbai.jpg" alt="">
            <p>Properties in South <br>Mumbai</p>
        </div>
        
        <div class="card" (click)="search('Central Mumbai')">
            <img src="../../../assets/images/centralMumbai.webp" alt="">
            <p>Properties in Central Mumbai</p>
        </div>
        
        <div class="card" (click)="search('Thane')">
            <img src="../../../assets/images/thane.jpg" alt="">
            <p>Properties in Thane</p>
        </div>
        
        <div class="card" (click)="search('Bandra')">
            <img src="../../../assets/images/bandra.jpg" alt="">
            <p>Properties in Bandra</p>
        </div>
    </div>
</div>