
<footer class="footer">
  <div class="footer-main">
    <div class="footer-logo">
      <img src="../../../assets/images/logo-removebg.png" alt="EstateConnect Logo">
    </div>

    <div class="footer-section about-us">
      <h3>About Us</h3>
      <p>
        At EstateConnect, we are committed to bridging the gap between property buyers, renters and sellers.
        Our innovative platform enables efficient property management inquiries and feedback collection.
      </p>
    </div>

    <div class="footer-section contact-details">
      <h3>Contact Us</h3>
      <p><strong>Phone:</strong> 7017748803</p>
      <p><strong>Email:</strong></p>
      <p><a href="mailto:shimanshi871@gmail.com">shimanshi871@gmail.com</a></p>
      <p><strong>Address:</strong> Thakur PG, Sector 5, Ghansoli, Navi Mumbai, Maharashtra, India</p>
    </div>

    <div class="footer-section quick-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/user/viewProp">View Properties</a></li>
        <li><a routerLink="/blog">Real Estate Articles</a></li>
        <li><a routerLink="/upcoming">Upcoming Projects</a></li>
        <li><a routerLink="/agents">Agents</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-section follow-us">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <img src="../../../assets/icons/instagram.png" alt="Instagram Logo" class="instagram-logo" />
        <img src="../../../assets/icons/facebook.png" alt="Facebook Logo" class="facebook-logo" />
        <img src="../../../assets/icons/twitter.png" alt="Twitter Logo" class="twitter-logo" />
        <img src="../../../assets/icons/youtube.png" alt="Youtube Logo" class="youtube-logo" />
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 EstateConnect. All rights reserved.</p>
  </div>
</footer>