<div class="who-we-are-container">
  <div class="left-container">
    <div class="text-section">
      <h1>Why Us</h1>
      <p>
        We are an online real estate portal that connects home seekers with sellers, agents, and builders.
        Our goal is to provide accurate information about new projects, homes for sale, agents, and market trends
        to help users make informed buying and renting decisions.
      </p>
    </div>


    <div class="stat-container">
      <div class="stats-section">
        <div class="stat-box1" *ngFor="let stat of stats1">
          <h3>{{ stat.value }}</h3><br>
          <p>{{ stat.label }}</p>
        </div>
        <div class="stat-box2" *ngFor="let stat of stats2">
          <h3>{{ stat.value }}</h3><br>
          <p>{{ stat.label }}</p>
        </div>
      </div>
    </div>
    
  </div>

  <div class="right-container">
    <div class="image-container1">
      <div class="image1">
        <img class="imagetansition" src="assets/whyus/horizontal1.jpg" alt="Living Room" style="width: 300px;margin-top: 35px; margin-right: 5px;">
        <img class="imagecontainer" src="assets/whyus/whyus2.webp" alt="Keys in Door" style="width: 280px;margin-top:5px;">
      </div>
    </div>
    <div class="image-container2">
      <div class="image2">
        <img src="assets/whyus/backgrounddrawingroom.jpg" alt="Logo" style="width: 310px; height: 440px; margin-left: 5px;margin-top: 35px;border-radius: 30px;border:1px solid black;">
      </div>
    </div>
  </div>
<!-- </div> -->

<!-- <div class="images-section">
    <img src="assets/whyus/whyus1.jpg" alt="Living Room">
    <img src="assets/whyus/whyus2.webp" alt="Keys in Door">
    <img src="assets/whyus/whyus3.webp" alt="Logo">
  </div>
  </div> -->