<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- <div class="sub-container-2">
    <div class="heading">
        <h3>Contact Us</h3>
    </div>
    <hr class="colored-line">
    <p>
       Phone: 123-456-7890 
    </p>
    <p>
        Email: support&commat;estateconnect.com
      </p>
      
   <p>
        Address: 456 Real Estate Avenue, Suite 101, Miami, FL 
   </p>
</div> -->
<div class="sub-container-2">
    
    
    <p>
       <i class="fa fa-phone" style="color:coral;"></i> Phone: 123-456-7890
    </p>
    <p>
        <i class="fa fa-envelope" style="color:coral;"></i> Email: support@estateconnect.com
    </p>
    <p>
        <i class="fa fa-map-marker" style="color:coral;"></i> Address: 456 Real Estate Avenue, Suite 101, Miami, FL
    </p>
</div>
