/* Styling for the second sub-container (Contact Us) */
/* .sub-container-2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.308);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    height: 250px;
    text-align: center;
    z-index: 2;
    overflow-y: auto;
}

/* Styling for the colored line */
/* .colored-line {
    border: none;
    height: 2px;
    background-color: #3498db;
    width: 50%;
    margin: 10px auto;
} */ 
